{{ define "main" }}

	{{ $list := ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
	{{ if gt (len $list) 0 }}

		{{/* Sort the categories, if parameter is TRUE */}}
		{{ if .Site.Params.sortTags }}
			{{ $list = sort $list "Title" }}
		{{ end }}

		<div class="archive_categories">
			{{ range $list }}
				<p><a href="{{ .Permalink }}">{{ .Title }}</a></p>
			{{ end }}
		</div>
	{{ end }}
	
	{{ $list := (where .Site.Pages "Type" "post") }}
	{{ range $list }}

	{{ $postDateTimeSys := .Date.Format "2011-11-18T14:54Z" }}
    {{ $postDateTime := .Date.Format "Jan 2, 2006" }}
    {{ if .Site.Params.showPostTimeOnIndex}}
	    {{ $postDateTime = .Date.Format "Jan 2, 2006 3:04pm" }}
    {{ end }}

		<p class="h-entry">
			<a href="{{ .Permalink }}" class="u-url"><time class="dt-published" datetime="{{ $postDateTimeSys }}">{{ $postDateTime }}</time></a>:
			<span class="p-name"><b>{{ .Title }}</b></span> 
			<span class="p-summary">{{ .Summary | truncate 100 }}</span>
		</p>

	{{ end }}

{{ end }}