{{ define "main" }}

{{ if .Site.Params.showCategoriesOnArchive }}
{{ $list := ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
{{ if gt (len $list) 0 }}
{{ if .Site.Params.sortTags }}
{{ $list = sort $list "Title" }}
{{ end }}
<div class="archive_categories">
	{{ range $list }}
	<p><a href="{{ .Permalink }}">{{ .Title }}</a></p>
	{{ end }}
</div>
{{ end }}<br>
{{ end }}

{{ if templates.Exists "partials/search.html" }}
<div class="custom-search">
	{{ partial "search.html" . }}
	</div>
	
	<script>
	document.getElementById('input_search').focus();
	</script>
{{ end }}

	{{ $list := (where .Site.Pages "Type" "post") }}
	{{ range $list }}

	{{ $postDateTimeSys :=  .Date.Format "2006-01-02T15:04:00Z" }}
    {{ $postDateTime := .Date.Format "January 2, 2006" }}
    {{ if .Site.Params.showPostTimeOnIndex}}
	    {{ $postDateTime = .Date.Format "January 2, 2006 3:04pm" }}
    {{ end }}

		<p class="h-entry">
			<a href="{{ .Permalink }}" class="u-url"><time class="dt-published" datetime="{{ $postDateTimeSys }}">{{ $postDateTime }}</time></a>:
			<span class="p-name"><b>{{ .Title }}</b></span> 
			<span class="p-summary">{{ .Summary | truncate 100 }}</span>
		</p>

	{{ end }}

{{ end }}