<header class="site-header">
  <div class="site-header-row">
    <a class="site-header-logo-link" href="/"><img src="https://family.plumey.com/uploads/2024/family-blog.jpg" class="site-image"
        alt="{{ .Site.Title }}" /></a>
  </div>
  <div class="site-header-row">
    <a class="site-header-title-link" href="/">{{ .Site.Title }}</a>
  </div>
  {{ if .Site.Params.headertext}}
  <div class="site-header-row">{{ .Site.Params.headertext }}</div>
  {{ end }}
  <div class="site-header-row">
    <nav class="site-nav">
      {{ range .Site.Menus.main }} {{ if .Page.Params.redirect }}
      <a class="site-nav-link" href="{{ .Page.Params.redirect }}">{{ .Name }}</a>
      {{ else }}
      <a class="site-nav-link" href="{{ .URL | relLangURL | safeURL }}">{{ .Name }}</a>
      {{ end }} {{ end }}
    </nav>
  </div>
</header>