<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>
    {{ block "title" . }} {{ if .IsHome }}{{ .Site.Title }}{{ else }}{{
    .Site.Title }} - {{with .Title }}{{ . }}{{else}} {{.Summary | truncate 50 }}{{end}}{{ end }} {{ end }}
  </title>

  <meta name="description" content="{{ .Summary | truncate 160 }}" />
  
  <link rel="shortcut icon" href="https://micro.blog/{{ .Site.Author.username }}/favicon.png" type="image/x-icon" />
  <link rel="stylesheet" href="{{ "css/main.css" | relURL }}"> 
  {{ partial "cards.html" . }}
  <link rel="canonical" href="{{ .Permalink }}" />

  {{ partial "microblog_head.html" . }}
</head>
