<header class="site-header">
  <div class="site-header-row">
    <a class="site-header-logo-link" href="/"><img src="{{ .Site.Author.avatar }}" class="site-image"
        alt="{{ .Site.Title }}" /></a>
  </div>
  <div class="site-header-row">
    <a class="site-header-title-link" href="/">{{ .Site.Title }}</a>
  </div>
  {{ if .Site.Params.headertext}}
  <div class="site-header-row">{{ .Site.Params.headertext }}</div>
  {{ end }}
  <div class="site-header-row">
    <nav class="site-nav">
      {{ range .Site.Menus.main }} {{ if .Page.Params.redirect }}
        <a class="site-nav-link" href="{{ .Page.Params.redirect }}">{{ .Name }}</a>
        {{ else }}
        <a class="site-nav-link" href="{{ .URL | relLangURL | safeURL }}">{{ .Name }}</a>
        {{ end }} {{ end }}
    </nav>
  </div>

  {{ if .Site.Params.showPostCategories}}
    {{ $list := ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
    {{ if gt (len $list) 0 }}
        {{ if .Site.Params.sortTags }}
          {{ $list = sort $list "Title" }}
        {{ end }}
        <div class="site-header-row archive_categories">
          {{ range $list }}
            <p><a href="{{ .Permalink }}">{{ .Title }}</a></p>
            {{ end }}
        </div>
    {{ end }}
  {{ end }}
</header>