{{ define "main" }}
{{ if .Site.Params.showTagsHome}}

  {{ $list := ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
  {{ if gt (len $list) 0 }}
	
    {{/* Sort the categories, if parameter is TRUE */}}
    {{ if .Site.Params.sortTags }}
      {{ $list = sort $list "Title" }}
    {{ end }}
	
    <div class="archive_categories">
      {{ range $list }}
        <p><a href="{{ .Permalink }}">{{ .Title }}</a></p>
      {{ end }}
    </div>
  {{ end }}

{{ end }}

<div class="post-list-title"><h1>{{ .Title }}</h1></div>
<ul id="post-list">

	{{ if .Site.Params.paginate_replies }}
		{{ $paginator := .Paginate (where .Data.Pages.ByDate.Reverse "Type" "reply") }}
		{{ $list := $paginator.Pages }}
		{{ range $list  }}
			{{ partial "post-item.html" . }}
		{{ end }}
	{{ else }}
		{{ $list := first 25 (where .Data.Pages.ByDate.Reverse "Type" "reply") }}
		{{ range $list  }}
			{{ partial "post-item.html" . }}
		{{ end }}
	{{ end }}

	</ul>

	{{ if .Site.Params.paginate_replies }}
		{{ partial "pagination" . }}
	{{ end }}

{{ end }}